language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
before_script: # => 6
  - psql -c "CREATE USER root WITH PASSWORD 'passme';" -U postgres
  - psql -c "ALTER USER root CREATEDB;" -U postgres

  - python manage.py test
